{% extends "base.html" %}
{% block title %}
TodoList
{% endblock %}
{% block style %}
    <style>
        body{
            text-align: center;
            background-color: burlywood;
        }
    </style>
{% endblock %}
{% block content %}
    {{user.username}}
    {{user.email}}

    <h1>代辦事項</h1>
    {% if not todos %}
        <h2 style="color: darkred;">請先登入或註冊，<a href="{% url 'login' %}">登入</a></h2>
    {% else %}
    {% for i in todos %}
        <h1>{{i.id}}</h1>
        <h2>
            <!-- Jinja2 的特殊寫法 : 
             url -> 目前的 url, 
             '@path的Name名稱' -> 由註冊的路徑名稱對應到自訂的路徑
             @id -> 要餵給自訂功能頁的參數資料
            -->             
            <a href="{% url 'viewtodoUrlName' i.id  %}">
                {{i.title}}
            </a>
        </h2>
        <small>{{i.created}}</small>
        {% if i.text %}
        <li>{{i.text}}</li> 
        {% endif %}
        {% if i.important %}
        <p style="color: darkred;">重要</p>
        {% endif %}
        <hr>
    {% endfor %}
    {% endif %}
    
{% endblock %}